/* Design för mindre skärmar */

/* ############################## */
/* Placering av informationsrutor */
/* ############################## */

/* Central placering*/
.center-column {
  grid-column: 3/6;
}

/* Vänster placering */
.left-column {
  grid-column: 2/4;
}

/* Höger placering */
.right-column {
  grid-column: 5/7;
}