* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("images/indexBackground.jpg");
  background-size: cover;
  background-attachment: fixed;
}

/* Grid design */
.grid-container {
  display: grid;
  grid-template-columns: 10% 20% 10% 20% 10% 20% 10%;
  row-gap: 20px;
  margin-top: 20px;
}

.center-column {
  grid-column: 3/6;
}

.left-column {
  grid-column: 2/4;
}

.right-column {
  grid-column: 5/7;
}

.content-container {
  background-color: #0099ff;
  border-radius: 20px;
  outline-style: solid;
  font-family: sans-serif;
  padding: 2%;
}

/*  */
.header {
  justify-content: center;
  text-align: center;
  padding: 5%;
}
